* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 15px;
    /* max-width: 1440px; */
    margin: 0 100px;
    
}
.card-container {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    

}
.card-item {
    background-color: hsl(300, 43%, 22%);
    color:  hsl(0, 0%, 100%);
    
    border-radius: 8px;
    padding: 40px;
   
    width: 340px;
    
    margin-top: 20px;

}
.card-item:nth-of-type(2) {
    position: relative;
    top: 25px;
}
.card-item:nth-of-type(3) {
    position: relative;
    top: 45px;

}
.card-text {
    margin-bottom: 20px;
    

}
.card--profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}
.image {
    width:50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    
}
.card-name {
    font-weight: 700;
}
.card-ocupation {
    color: hsl(333, 80%, 67%);
    margin-top: 5px;
}
.card-1 {
    display: grid;
    grid-template-columns: 1fr 450px;
    column-gap: 20px;
    margin-top: 100px;

    
}
.card-intro {
    width: 300px;
}
.card-rate {
    display:block;
    max-height: fit-content;
    
    
    
}
.card-rate-item {
    background-color: hsl(60, 24%, 96%);
    border-radius: 8px;
    padding:5px 30px;
    height: 50px;
    margin-bottom: 20px;
    max-width: fit-content;
    
}

.rating .star{
    font-size: 25px;
    
}
.rating-class {
    margin-left: 10px;
}
.star {
    color: rgb(228, 151, 26); /* Default star color */
    cursor: pointer;
}
  
.star:hover {
    color: yellow; /* Color when hovering */
}
  
.star.active {
    color: yellow; /* Color when selected */
}
.card-rate-item:nth-of-type(2) {
    position: relative;
    left: 40px
}
.card-rate-item:nth-of-type(3) {
    position: relative;
    left: 80px
}
.intro1 {
    color: hsl(300, 43%, 22%);
    font-weight: 700px;
}
.intro2 {
    color: hsl(303, 10%, 53%);
    margin-top: 20px;
    line-height: 1.5;
    
}
.rating-class {
    color: hsl(302, 72%, 24%);
    font-weight: 900;
    
}
@media (max-width:375px){
   body {
    
    font-size: 20px;
   }
   .card-1{
    display: grid;
    grid-template-columns: 1fr;
   }
   .card-intro {
    width: 100%;
   }
   .card-container {
    display: grid;
    grid-template-columns: 1fr;
   }
   .card-item {
    position: relative;
    right: 60px;
    width: 300px;
   }
   .card-rate-item:nth-of-type(2) {
    position: relative;
    }
    .intro2 {
        max-width: 375px;
    }
    .rating {
        max-width: 375px;
        
        font-size: 20px;
        
        

    }
    .card-rate-item {
        max-width: 375px;
        height: 90px;

    }
    
    .rating .star {
        font-size: 40px;
    }

    .card-rate-item {
        margin-top: 30px;
        width: 300px;
        padding-top: 10px;
        
    }
    .card-rate-item:nth-of-type(2) {
        width: 300px;
        position: relative;
        left: 0px;
        
        
    }
    .card-rate-item:nth-of-type(3) {
        width: 300px;
        position: relative;
        left: 0px
        
    }

    .card-1 {
        position: relative;
        top: 0;
        right: 60px;
        width: 100%;

    }
    .rating-class{
        display: block;
        white-space: nowrap;
        position: relative;
        left: -6px;
    }
    .rating .star {
        position: relative;
        left: 30%;
    }
    .intro1 {
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    
  }